@model FptBook.Models.CategoryRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Approve</h1>

<h4>CategoryRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Approve">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestId" />
            <input type="hidden" asp-for="UserID"/>
            <input type="hidden" asp-for="IsApproved"/>
            <input type="hidden" asp-for="CreatedAt"/>
            <input type="hidden" asp-for="Name"/>
            <div class="form-group">
                @Model.Name
            </div>
            <div class="form-group">
                @Model.User.Email
            </div>
            <div class="form-group">
                <input type="submit" value="Approve" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

