@model FptBook.Areas.Customer.Models.BookSearchViewModel
<form asp-area="Customer" asp-controller="Book" asp-action="Index" class="search-form">
	<input type="text" asp-for="SearchString" placeholder="Search..." value="@Model.SearchString">
	<i class='bx bx-search icon' type="submit"></i>
	
	<div class="form-group">
		@Html.DropDownListFor(model => model.SearchBy, (SelectList)ViewData["Select"],  new { @class = "form-control"})
    	<span asp-validation-for="SearchBy" class="text-danger"></span>
    </div>
</form>
