@using Microsoft.AspNetCore.Identity
@inject SignInManager<FptBookUser> SignInManager
@inject UserManager<FptBookUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    
    }
    else
    {
        <div id="search-btn" class="fas fa-search"></div>
        <a asp-area="Identity" asp-page="/Account/Login" class="fas fa-heart"></a>
        <a asp-area="Identity" asp-page="/Account/Login" class="fas fa-shopping-cart"></a>
        <a id="hover-unset" class="fas fa-grip-lines-vertical " style="cursor: unset; "></a>
        <a id="login-btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
</ul>
