@model FptBook.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h1>Edit Category</h1>

@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form asp-action="Edit"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <input type="hidden" asp-for="CategoryId" /> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Name" class="control-label"></label> *@
@*                 <input asp-for="Name" class="form-control" /> *@
@*                 <span asp-validation-for="Name" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <input type="submit" value="Save" class="btn btn-primary" /> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@


<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th> <br> <br>
                            <label asp-for="Name" class="control-label" style="font-size: 20px;"></label>
                        </th>
                        <td>
                            <input asp-for="Name" class="form-control" /> <br><br>
                            <span asp-validation-for="Name" class="text-danger"></span> <br><br>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div >
                <a class="back-to-list" asp-action="Index">Back to List</a>
                <button type="submit" class="save-button">Save</button>
            </div>
        </form>
    </div>
</div>



@section CSS
{
    <link href="@Url.Content("~/css/admin-mancate-edit.css")" rel="stylesheet" type="text/css" />
}

