@model List<IdentityRole>

@{
    ViewData["Title"] = "Index";
}
<div id="RoleTable">
    @await Html.PartialAsync("_RoleTablePartial",Model)
</div>

@section Scripts
{
    <script src="~/js/role.js" asp-append-version="true"></script>
}

@section CSS
{
    <link href="@Url.Content("~/css/admin-set-role.css")" rel="stylesheet" type="text/css" />
}
