@model List<IdentityRole>

@{
    ViewData["Title"] = "Index";
}
<div id="RoleTable">
    @await Html.PartialAsync("_RoleTablePartial",Model)
</div>

@section Scripts
{
    <script src="~/js/role.js" asp-append-version="true"></script>
}

