@using Microsoft.AspNetCore.Identity
@inject SignInManager<FptBookUser> SignInManager
@inject UserManager<FptBookUser> UserManager


<body>
<!-- home section start -->
<section class="home" id="home">
        
    <div class="row">

        <div class="content">
            <h3>Up to 75% off</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum mollitia distinctio debitis cumque aperiam eos,
                libero voluptates reiciendis ratione quod impedit eveniet, natus veniam eum autem asperiores itaque commodi
                accusamus.</p>
            @if (SignInManager.IsSignedIn(User))
            {
                <a href="#" class="btn">Shop Now</a>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login" class="btn">Shop now</a>
            }
        </div>

        <div class="books-slider">
            <img src="~/image/table.png" class="stand" alt="">
        </div>
    </div>
</section>
<!-- home section end -->

<!-- service section start -->
<section class="icons-container">
        
    <div class="icons">
        <i class="fas fa-plane"></i>
        <div class="content">
            <h3>Free Shipping</h3>
            <p>Order Over $100</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>Secure Payment</h3>
            <p>100% Secure Payment</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>Easy Return</h3>
            <p>10 days returns</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>24/7 Support</h3>
            <p>Call Us Anytime</p>
        </div>
    </div>
    
</section> 
<!-- service section end -->

<!-- newsletter section starts -->
<section class="newsletter">

    <form action="">
        <h3>Subscribe for lastest updates</h3>
        <input type="email" name="" placeholder="Enter your email" id="" class="box">
        <input type="submit" value="Subscribe" class="btn">
    </form>
</section>
<!-- newsletter section end -->

<!-- deal section start -->

<section class="deal">

    <div class="content">
        <h3>Deal of the day</h3>
        <h1>Up to 50% off</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae similique aperiam repellendus, inventore maiores modi
            iste nesciunt distinctio dolore possimus ab animi obcaecati 
            aliquid amet laudantium ipsam placeat? Debitis, aut!</p>
        
        @if (SignInManager.IsSignedIn(User))
        {
            <a href="#" class="btn">Shop Now</a>
        }
        else
        {
            <a asp-area="Identity" asp-page="/Account/Login" class="btn">Shop now</a>
        }
    </div>

    <div class="image">
        <img src="image/about.png" alt="">
    </div>
</section>
<!-- deal section end -->

<!-- review section start -->
 <section class="blogs" id="blogs">
<div class="reviews">
        <h1 class="heading"><span> Reviews </span></h1>

        <div class="review_box">

            <div class="review_card">
                <i class="fa-solid fa-quote-right"></i>
                <div class="card_top">
                    <img src="image/review_1.png">
                </div>
                <div class="card">
                    <h2>Name</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus eos doloribus iure 
                        distinctio! Eos dolorem quam, nisi amet saepe totam, quas quidem laboriosam dolore, 
                        tenetur itaque nostrum voluptas excepturi aut.
                    </p>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>

            <div class="review_card">
                <i class="fa-solid fa-quote-right"></i>
                <div class="card_top">
                    <img src="image/review_2.png">
                </div>
                <div class="card">
                    <h2>Name</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus eos doloribus iure 
                        distinctio! Eos dolorem quam, nisi amet saepe totam, quas quidem laboriosam dolore, 
                        tenetur itaque nostrum voluptas excepturi aut.
                    </p>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>

            <div class="review_card">
                <i class="fa-solid fa-quote-right"></i>
                <div class="card_top">
                    <img src="image/review_3.png">
                </div>
                <div class="card">
                    <h2>Name</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus eos doloribus iure 
                        distinctio! Eos dolorem quam, nisi amet saepe totam, quas quidem laboriosam dolore, 
                        tenetur itaque nostrum voluptas excepturi aut.
                    </p>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>

            <div class="review_card">
                <i class="fa-solid fa-quote-right"></i>
                <div class="card_top">
                    <img src="image/review_4.png">
                </div>
                <div class="card">
                    <h2>Name</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus eos doloribus iure 
                        distinctio! Eos dolorem quam, nisi amet saepe totam, quas quidem laboriosam dolore, 
                        tenetur itaque nostrum voluptas excepturi aut.
                    </p>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </section>
<!-- review section end -->

<!-- blog sections start -->
   <section class="blogs" id="blogs">
          <div class="blog">
              <h1 class="heading"><span> Our Blog </span></h1>
              <div class="blog_box">
      
                  <div class="blog_card">
                      <div class="blog_img">
                          <img src="image/blog_1.jpg">
                      </div>
                      <div class="blog_tag">
                          <h2>Bloger</h2>
                          <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quos quis quasi ut 
                              impedit reiciendis voluptatem rem esse ratione omnis, laudantium earum. Aperiam 
                              nesciunt dolore aliquam repellat consequatur amet ducimus.
                          </p>
                          <div class="blog_icon">
                              <i class="fa-solid fa-calendar-days"></i>
                              <i class="fa-solid fa-heart"></i>
                          </div>
                      </div>
                  </div>
      
                  <div class="blog_card">
                      <div class="blog_img">
                          <img src="image/blog_2.jpg">
                      </div>
                      <div class="blog_tag">
                          <h2>Bloger</h2>
                          <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quos quis quasi ut 
                              impedit reiciendis voluptatem rem esse ratione omnis, laudantium earum. Aperiam 
                              nesciunt dolore aliquam repellat consequatur amet ducimus.
                          </p>
                          <div class="blog_icon">
                              <i class="fa-solid fa-calendar-days"></i>
                              <i class="fa-solid fa-heart"></i>
                          </div>
                      </div>
                  </div>
      
                  <div class="blog_card">
                      <div class="blog_img">
                          <img src="image/blog_3.jpg">
                      </div>
                      <div class="blog_tag">
                          <h2>Bloger</h2>
                          <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quos quis quasi ut 
                              impedit reiciendis voluptatem rem esse ratione omnis, laudantium earum. Aperiam 
                              nesciunt dolore aliquam repellat consequatur amet ducimus.
                          </p>
                          <div class="blog_icon">
                              <i class="fa-solid fa-calendar-days"></i>
                              <i class="fa-solid fa-heart"></i>
                          </div>
                      </div>
                  </div>
      
              </div>
          </div>
      </section>
    <!-- blog sections end -->



    @if (SignInManager.IsSignedIn(User))
    {
                <!-- loader start-->
                    <div class="un-loader-container"></div>
                <!-- loader end -->
    }
    else
    {
        <!-- loader start-->
            <div class="loader-container">
                <img src="image/loader-img.gif" alt="">
            </div>
        <!-- loader end -->
    }

<script src="~/js/loader.js"></script>
@*<script src="~/js/reviews.js"></script>*@
</body>


    