
<!-- home section start -->
<section class="home" id="home">
        
    <div class="row">

        <div class="content">
            <h3>Up to 75% off</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum mollitia distinctio debitis cumque aperiam eos,
                libero voluptates reiciendis ratione quod impedit eveniet, natus veniam eum autem asperiores itaque commodi
                accusamus.</p>
            <a href="#" class="btn">Shop now</a>
        </div>

        <div class="books-slider">
            <img src="~/image/table.png" class="stand" alt="">
        </div>
    </div>
</section>
<!-- home section end -->

<!-- service section start -->
<section class="icons-container">
        
    <div class="icons">
        <i class="fas fa-plane"></i>
        <div class="content">
            <h3>Free Shipping</h3>
            <p>Order Over $100</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>Secure Payment</h3>
            <p>100% Secure Payment</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>Easy Return</h3>
            <p>10 days returns</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>24/7 Support</h3>
            <p>Call Us Anytime</p>
        </div>
    </div>
    
</section> 
<!-- service section end -->

<!-- newsletter section starts -->
<section class="newsletter">

    <form action="">
        <h3>Subscribe for lastest updates</h3>
        <input type="email" name="" placeholder="Enter your email" id="" class="box">
        <input type="submit" value="Subscribe" class="btn">
    </form>
</section>
<!-- newsletter section end -->

<!-- deal section start -->

<section class="deal">

    <div class="content">
        <h3>Deal of the day</h3>
        <h1>Up to 50% off</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae similique aperiam repellendus, inventore maiores modi
            iste nesciunt distinctio dolore possimus ab animi obcaecati 
            aliquid amet laudantium ipsam placeat? Debitis, aut!</p>
        <a href="#" class="btn">Shop now</a>
    </div>

    <div class="image">
        <img src="image/about.png" alt="">
    </div>
</section>
<!-- deal section end -->