@model FptBook.Areas.Admin.Models.UserViewModel



    <div class="login-form-container">                                                                                     
                                                                                                                           
        <form asp-action="CreateManager">                                                                                  
            <h3>Make a storemanager</h3>                                                                                               
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                                             
                                                                                                                           
            <span><label asp-for="Email" class="form-label"></label></span>                                          
            <input asp-for="Email" class="box"  placeholder="Enter your email" id="" aria-required="true">           
            <span asp-validation-for="Email" class="text-danger"></span>                                             
                                                                                                                           
            <span><label asp-for="FirstName" class="form-label"></label>  </span>                                     
            <input asp-for="FirstName" class ="box" placeholder="Enter your First Name" id="" aria-required="true">     
            <span asp-validation-for="FirstName" class="text-danger"></span> 
            
            <span><label asp-for="LastName" class="form-label"></label>  </span>                                     
            <input asp-for="LastName" class ="box" placeholder="Enter Your Last Name" id="" aria-required="true">
            <span asp-validation-for="LastName" class="text-danger"></span>
            
            <span><label asp-for="PhoneNumber" class="form-label"></label>  </span>                                     
            <input asp-for="PhoneNumber" class ="box" placeholder="Enter your phone number" id="" aria-required="true">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            <button type="submit" class="btn">Submit</button>                                            
            
        </form>                                                                                                            
    </div>   
    


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@


@model FptBook.Areas.Admin.Controllers.User.UserController.UserInput

<div class="login-form-container">
  <form asp-action="CreateManager">
    <h3 >Make a store manager</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

      <label for="email">Email</label>
      <input asp-for="Email" id="email" required>
      <span asp-validation-for="Email" ></span>

      <label for="firstname">First Name</label>
      <input asp-for="FirstName" id="firstname" required>
      <span asp-validation-for="FirstName" class="text-danger"></span> 

      <label for="lastname">Last Name</label>
      <input asp-for="LastName" id="lastname" required>
      <span asp-validation-for="LastName" class="text-danger"></span>

      <label for="phone">Phone Number</label>
      <input asp-for="PhoneNumber" id="phone" required>
      <span asp-validation-for="PhoneNumber" class="text-danger"></span>
      

    <button type="submit">Submit</button>
  </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section CSS
{
    <link href="@Url.Content("~/css/admin-create-manager.css")" rel="stylesheet" type="text/css" />
}

