@model string

@{
    ViewBag.Title = "Password reset";
    Layout = "_AdminLayout";
}

@*<h2>Reset Password</h2>
<form method="post">
    <p>reset password</p>
    <input type="text" name="password"/>
    <button type="submit">Confirm</button>
</form>*@

<h2>Reset Password</h2>
<form method="post">
    <table>
        <tr>
            <td>New Password:</td>
            <td><input type="text" name="password" /></td>
        </tr>
    </table>
    <button type="submit">Confirm</button>
</form>




@section CSS
{
    <link href="@Url.Content("~/css/admin-pass-reset.css")" rel="stylesheet" type="text/css" />
}
