@model string

@{
    ViewBag.Title = "Password reset";
    Layout = "_Layout";
}

<h2>title</h2>
<form method="post">
    <p>reset password</p>
    <input type="text" name="password"/>
    <button type="submit">Confirm</button>
</form>