@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="@statusMessageClass" style="font-size: 1.2rem; border: 1px solid #f00;  padding: 10px; background-color: #ffe7e7;  color: #f00; margin-bottom: 10px;  font-weight: bold;" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @Model
    </div>
}
