@page
@model IndexModel
@{
    /*ViewData["Title"] = "Profile";*/
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@*<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>*@

<form id="profile-form" method="post">
    
    <div class="profile tabShow">
        <h1 style="font-size: 2.8rem; margin-top: 30px; margin-bottom: 20px">Profile Information </h1>
        <partial name="_StatusMessage" for="StatusMessage"/>


        <h2 class="user-info" style="padding-bottom: 15px; margin-top: 10px">Email Username</h2>
        <div asp-validation-summary="ModelOnly" style="color: red;"></div>
        <input asp-for="Username" class="user-setting-input" style="font-size: 1.9rem; padding-right: 5px" disabled/>
        @*<label asp-for="Username" class="form-label"></label>*@
        @*<input type="text" class="input">*@

        <h2 class="user-info" style="padding-bottom: 15px; margin-top: 10px">First Name</h2>
        <input asp-for="Input.FirstName" class="user-setting-input" style="font-size: 1.9rem;"/> <br> <br>
        @*<label asp-for="Input.PhoneNumber" class="form-label"></label>*@
        <span asp-validation-for="Input.FirstName" ></span> <br> <br> <br> <br> <br>

        <h2 class="user-info" style="padding-bottom: 15px; margin-top: -40px">Last Name</h2>
        <input asp-for="Input.LastName" class="user-setting-input" style="font-size: 1.9rem;"/> <br> <br>
        @*<label asp-for="Input.PhoneNumber" class="form-label"></label>*@
        <span asp-validation-for="Input.LastName" ></span> <br> <br> <br> <br> <br>
        

        <h2 class="user-info" style="padding-bottom: 15px; padding-top: 30px; margin-top: -70px">Phone Number</h2>
        <input asp-for="Input.PhoneNumber" class="user-setting-input" style="font-size: 1.9rem;"/> <br> <br>
        @*<label asp-for="Input.PhoneNumber" class="form-label"></label>*@
        <span asp-validation-for="Input.PhoneNumber" ></span> <br> <br> <br> <br> <br>
        @*<input type="text" class="input">*@  
        
        
        <h2 class="user-info" style="padding-bottom: 15px; margin-top: -40px">Address</h2>
        <input asp-for="Input.HomeAddress" class="user-setting-input" style="font-size: 1.9rem;"/> <br><br>
        @*<label asp-for="Input.PhoneNumber" class="form-label"></label>*@
        <span asp-validation-for="Input.HomeAddress" ></span> <br> <br>   
        
        
        <div style="text-align: center">
            @*<input type="text" class="input">*@
            <button id="update-profile-button" type="submit" class="btn">Update</button>
        </div>
        
    </div>
    
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
