@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h1 style="font-size: 2.5rem; margin-top: 50px; margin-bottom: 40px;">Personal Data</h1>

@* <div class="row"> *@
@*     <div class="col-md-6"> *@
@*         <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p> *@
@*         <p> *@
@*             <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong> *@
@*         </p> *@
@*         <form id="download-data" asp-page="DownloadPersonalData" method="post"> *@
@*             <button class="btn btn-primary" type="submit">Download</button> *@
@*         </form> *@
@*         <p> *@
@*             <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a> *@
@*         </p> *@
@*     </div> *@
@* </div> *@

    <p style="margin-top: -25px; font-size: 1.5rem; text-align: center ">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p> <br>
    <p style="text-align: justify">
        <strong style="font-size: 1.4rem; font-style: italic; font-weight: bold; ">Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>

    <div style="text-align: center; margin-top: 20px">
        
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn" type="submit" >Download</button>
        </form>
        
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn" style="padding: 0.9rem 4.6rem;">Delete</a>
        </p>
        
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
