h1{
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    color: #444;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.form-group {
    margin-bottom: 10px;
}

.approve-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #E91E63;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.approve-button:hover {
    background-color: #AD1457;
}

.back-to-list {
    display: inline-block;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.back-to-list:hover {
    background-color: #388E3C;
}