/* Admin Content */
#admin-content {
    margin: 20px;
}

#admin-content h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

#admin-content table {
    border-collapse: collapse;
    width: 100%;
}

#admin-content th,
#admin-content td {
    padding: 12px 15px;
    border: 1px solid #ccc;
}

#admin-content th {
    background-color: #f7f7f7;
    font-weight: bold;
    text-align: left;
}

#admin-content tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#admin-content input[type=text] {
    border: none;
    font-size: 16px;
    padding: 6px 12px;
    width: 100%;
    box-sizing: border-box;
}

#admin-content input[type=text]:disabled {
    background-color: #f7f7f7;
}

#admin-content .edit-button {
    background-color: #228B22;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

#admin-content .edit-button:hover {
    background-color: #2e634a;
}

#admin-content .delete-button {
    background-color: #800000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

#admin-content .delete-button:hover {
    background-color: #642424;
}


#admin-content .create-text-box {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

#admin-content .create-button {
    background-color: #000080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

#admin-content .create-button:hover {
    background-color: #00005c;
}

@media (max-width: 767px) {
    #admin-content input[type=text],
    #admin-content .create-text-box,
    #admin-content button {
        font-size: 14px;
    }
}
