h1{
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    color: #444;
}

.form-control {
    width: 100%;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: inline-block;
    margin-bottom: .5rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    transition: all .15s ease-in-out;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    background-color: #fff;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
    padding: .75rem;
    vertical-align: top;
}

.field-validation-error {
    border: 1px solid #f00;
    padding: 10px;
    background-color: #ffe7e7;
    color: #f00;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
}

.back-to-list {
    display: inline-block;
    padding: 8px 12px;
    background-color: #2196F3;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.back-to-list:hover {
    background-color: #1565C0;
}


.save-button{
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 20px;
    background-color: #4CAF50 ;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #388E3C;
}

