/* Home section start */
.home{
    background: url(../image/smooth-white-brick-wall.jpg);
    background-size: cover;
    background-position: center;
    width: fit-content;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 42rem;
}

.home .row .books-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider .stand{
    width: 100%;
    margin-top: -2rem;
}

.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}
/* Home section end */