/*!* Reviews section start *!*/
/*.reviews{*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

/*.reviews h1{*/
/*    text-align: center;*/
/*    font-size: 50px;*/
/*    margin-top: 55px;*/
/*}*/

/*.reviews .review_box{*/
/*    width: 95%;*/
/*    height: 50vh;*/
/*    margin: 15px auto;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.reviews .review_box .review_card{*/
/*    width: 400px;*/
/*    height: 320px;*/
/*    box-shadow: 0 0 8px var(--green);*/
/*    padding: 15px;*/
/*    margin: 0 12px;*/
/*}*/

/*.reviews .review_box .review_card i{*/
/*    float: right;*/
/*    font-size: 120px;*/
/*    position: relative;*/
/*    bottom: 20px;*/
/*    color: #eaeaea;*/
/*}*/

/*.reviews .review_box .review_card .card_top img{*/
/*    width: 80px;*/
/*    border-radius: 50%;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.reviews .review_box .review_card .card p {*/
/*    margin: 10px 0 10px 0;*/
/*    text-align: justify;*/
/*    line-height: 22px;*/
/*}*/

/*.reviews .review_box .review_card .card .review_icon i{*/
/*    font-size: 16px;*/
/*    float: left;*/
/*    margin-top: 20px;*/
/*    color: var(--green);*/
/*    padding: 0 1px;*/
/*}*/

.reviews .reviews-slider .box{
    width: 30rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin-top: 15px;
}

.reviews .reviews-slider .box:hover{
    border: var(--border-hover);
}

.reviews .reviews-slider .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.reviews .reviews-slider .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color: var(--green);

}

/* Reviews section end */