h1{
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    color: #444;
}

.table-container {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

.header-cell {
    font-weight: bold;
}

.data-cell {
    word-break: break-all;
}

.button-container {
    margin-top: 20px;
}

.back-to-list{
    display: inline-block;
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #27ae60;
    border: none;
    color: #fff;
    text-decoration: none;
}

.back-to-list:hover {
    background-color: #219150;
}

/* Style for the "Details" button */
.detail-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #2196F3;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.detail-button:hover {
    background-color: #1565C0;
}
