@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

@*<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />*@

<div class="background-lr"> <br><br>
	
	<div class="container">
	    <h1>Confirm Email</h1>
		<p> <partial name="_StatusMessage" model="Model.StatusMessage" /></p>
	</div> <br><br>
</div>


<style>
		.container {
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
			max-width: 600px;
			margin: 0 auto;
		}
		
		h1 {
			font-size: 28px;
			text-align: center;
			margin-top: 0;
		}
			
		p {
			font-size: 16px;
			text-align: center;
			margin-top: 20px;
		}
	</style>
	
@section CSS
{
	<link href="@Url.Content("~/css/login-register.css")" rel="stylesheet" type="text/css" />
}