@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="background-lr"> <br><br>
	<div class="container">
		<h1>@ViewData["Title"]</h1>
		<p>An email has been sent to your registered email address with instructions on how to reset your password. Please check your email and follow the instructions to reset your password.</p>
		<p>Didn't receive an email? Check your spam folder or <a href="#" class="contact_support">contact support</a>.</p>
	</div> <br><br>

</div>


	<style>
	
		.container {
		
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
			max-width: 600px;
			margin: 0 auto;
		}
		
		h1 {
			font-size: 28px;
			text-align: center;
			margin-top: 0;
		}
		
		p {
			font-size: 16px;
			text-align: center;
			margin-top: 20px;
		}
		
		.contact_support {
			color: #007bff;
			text-decoration: none;
		}
		
		.contact_support:hover {
			text-decoration: underline;
		}
		
		
	</style>
