@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="login-form-container">
    
    <form id="account" method="post">
        <h3>Forgot password</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>     
            
        <span><label asp-for="Input.Email" class="form-label"></label></span>
        <input asp-for="Input.Email" class="box"  placeholder="Enter your email" id="" aria-required="true">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <input id="login-submit" type="submit" value="Reset Password" class="btn">

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
