@page
@model LogoutModel
@* @{ *@
@*     ViewData["Title"] = "Log out"; *@
@* } *@

<header>
    <h1>Log Out</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {

            
            <div class="container">
                <h1>@ViewData["Title"]</h1>
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <input id="login-submit" type="submit" value="Log Out" class="btn">
                            </form>
            </div>
            
            <style>


		    
	        </style>
            
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
