@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

@{
    if (@Model.DisplayConfirmAccountLink)
    {
	    <div class="background-lr"> <br><br>
		    <div class="container">
			    <h1>@ViewData["Title"]</h1>
			    <p>
				    This app does not currently have a real email sender registered, see <a class="confirm" href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
				    Normally this would be emailed: <a class="confirm" id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
			    </p>
		    </div><br><br>
		    
	    </div>
        <style>
	
		.container {
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
			max-width: 600px;
			margin: 0 auto;
		}
		
		h1 {
			font-size: 28px;
			text-align: center;
			margin-top: 0;
		}
		
		p {
			font-size: 16px;
			text-align: center;
			margin-top: 20px;
		}
		
		.confirm {
			color: #007bff;
			text-decoration: none;
		}
		
		.confirm:hover {
			text-decoration: underline;
		}
	</style>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
	
}

@section CSS
{
	<link href="@Url.Content("~/css/login-register.css")" rel="stylesheet" type="text/css" />
}



