@page
@model ResendEmailConfirmationModel
@*@{
    ViewData["Title"] = "Resend email confirmation";
}*@

@*<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
        </form>
    </div>
</div>*@

<div class="background-lr">
    
<div class="login-form-container">
    
    <form id="account" method="post">
        <h3>Resend email confirmation</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>     
            
        <span><label asp-for="Input.Email" class="form-label"></label></span>
        <input asp-for="Input.Email" class="box"  placeholder="Enter your email" id="" aria-required="true">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <input id="login-submit" type="submit" value="Resend" class="btn">

    </form>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section CSS
{
    <link href="@Url.Content("~/css/login-register.css")" rel="stylesheet" type="text/css" />
}
